<div class="tmpl">
  <div class="field">
    <%= heading_fields.label :text %><br>
    <%= heading_fields.text_field :text %>
  </div>
  <%= heading_fields.hidden_field :_destroy %>

  <%= tmpl_remove_link 'Remove Heading' %>
</div>
